{% extends 'common.html' %}
{% block head %} {% endblock %}
{% block body %}
<header class="top-bar">
    <h2>User Information</h2>
    <a href="/" class="btn btn-primary">Show List of Users</a>

</header>
<div>
    <section id="sectUser">
        <div>
            <img id="userAvatar" src="{{user['avatar']}}" alt="avatar" height="128px" width="128px"> <span>
                <h2 id="status"></h2><br>
            </span>
            <form id="frmUser" class="form-group">
                <form>
                    <div class="form-group">
                        <label>User ID:</label>
                        <input type="text" id="userID" value="{{user['id']}}" class="form-control"><br>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" id="userEmail" value="{{user['email']}}" class="form-control"><br>
                    </div>
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" id="userFirstName" value="{{user['fname']}}" class="form-control"><br>
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" id="userLastName" value="{{user['lname']}}" class="form-control"><br>
                    </div>
                    <div class="form-group">
                        <button id="btnSaveUser" class="btn btn-success" onclick="update_user(event)">Save
                            Changes</button>
                        <button id="btnDeleteUser" class="btn btn-danger" onclick="delete_user(event)">Delete
                            User</button>
                    </div>
                </form>
        </div>
    </section>
</div>
{% endblock %}